<%= render partial: "decidim/shared/component_announcement" %>

<div class="row notify-container">
  <div class="columns smallmedium-9">
    <div class="section">

      <% if allowed_to? :create, :notes %>
        <div class="card card--notes-editor">
          <div class="card-section">
            <%= form_for(@form, url: conversations_path, remote: true, html: { id: "new_note", class: "form new_note", data: nil }) do |f| %>
              <input type="hidden" name="_method" value="post">
              <%= render partial: "form", object: f %>

              <div class="float-right text-right">
                <div class="help-text"><%= t("decidim.notify.conversations.tip") %></div>
                <button type="reset" class="button secondary tiny form-conversations-reset"><%= t("decidim.notify.conversations.reset") %></button>
              </div>
              <div class="button--double form-conversations-submit">
                  <%= f.submit t(".send") %>
                  <div class="info">✔</div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <div id="notify-chapters">
        <%= render partial: "chapter", collection: chapters %>
        <%= render partial: "chapter", locals: { chapter: @unclassified } %>
      </div>
    </div>
  </div>
  <div class="columns smallmedium-3">
    <h5><%= t ".note_takers" %></h5>
    <div class="card">
      <div class="card-section by-note-taker" id="notify-note_takers">
        <%= render partial: "participant", collection: @note_takers %>
      </div>
    </div>
    <h5><%= t ".participants" %></h5>
    <div class="card">
      <div class="card-section" id="notify-participants">
        <%= render partial: "participant", collection: @participants %>
      </div>
    </div>
  </div>
</div>

<%= render partial: "script.js", locals: { id: current_component.id } %>
