<div class="row column">
  <div class="row">
    <div class="columns">
      <div class="section">
				<h1><%= t ".conversations" %></h1>

				<div class="card">
				  <div class="card-section">
						<%= decidim_form_for(@form, url: conversations_path, remote: true, html: { class: "form new_note" }) do |f| %>
						  <%= render partial: "form", object: f %>

						  <div class="button--double form-conversations-submit">
						      <%= f.submit t(".send") %>
						      <div class="info">✔</div>
						  </div>
						<% end %>
					</div>
				</div>

				<div id="notify-notes">
					<%= render partial: "note", collection: @notes %>
				</div>

			</div>
		</div>
	</div>
</div>

<%= render partial: "script.js", locals: { id: current_component.id } %>
