<div class="media-object notify-note <%= note_author_class %>" id="notify-note-<%= id %>" data-author-code="<%= notify_author&.code %>" data-chapter="<%= chapter&.title %>">
  <div class="media-object-section">
    <%= cell("decidim/notify/participant", author) %>
  </div>
  <div class="media-object-section main-section">
    <h4 class="note-name"><%= author&.name %> (@<%= author&.nickname %>)</h4>
    <p class="note-body"><%= body %></p>
    <em><%= l created_at, format: :decidim_short %></em>
  </div>
  <% if note_taker? %>
    <div class="media-object-section buttons">
      <%= link_to edit_path, method: :delete, remote: true, class: "delete", data: { confirm: t("decidim.notify.conversations.destroy.sure") } do %>
        <%= icon "delete-bin-line" %>
      <% end %>
      <%= link_to edit_path, class: "edit" do %>
        <%= icon "pencil-line" %>
      <% end %>
    </div>
  <% end %>
</div>
