<label for="users_list">
  <%= t("users", scope: "activemodel.attributes.notify_config") %>
  <select id="users_list"
          placeholder="<%= t("users_picker.choose_users", scope: "decidim.notify.admin.conversations") %>"
          data-tm-name="users"
          data-tm-items="<%= @users.to_json %>"
          data-tm-no-results="No users"
          class="mt-4" multiple>
    <% current_organization.users.pluck(:id, :name).each do |id, name| %>
      <option value="<%= id %>"><%= name %> </option>
    <% end %>
  </select>
</label>

<label for="users_list">
  <%= t("note_takers", scope: "activemodel.attributes.notify_config") %>
  <select id="users_list"
          placeholder="<%= t("users_picker.choose_users", scope: "decidim.notify.admin.conversations") %>"
          data-tm-name="note_takers"
          data-tm-items="<%= @note_takers.to_json %>"
          data-tm-no-results="No users"
          class="mt-4" multiple>
    <% current_organization.users.pluck(:id, :name).each do |id, name| %>
      <option value="<%= id %>"><%= name %> </option>
    <% end %>
  </select>
</label>

<div class="row column">
  <div class="switch tiny switch-with-label restricted">
    <%= form.label :restricted do %>
      <%= form.check_box :restricted, label: false, class: "switch-input" %>
      <span class="switch-paddle"></span>
      <span class="switch-label"><%= t("restricted", scope: "decidim.components.notify.settings.global") %></span>
     <% end %>
  </div>
</div>

<div class="row column pb-4">
  <div class="switch tiny switch-with-label private">
    <%= form.label :private do %>
      <%= form.check_box :private, label: false, class: "switch-input" %>
      <span class="switch-paddle"></span>
      <span class="switch-label"><%= t("private", scope: "decidim.components.notify.settings.global") %></span>
     <% end %>
  </div>
</div>
