<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".title") %>
      <div class="button--title">
        <%= link_to t("actions.configure", scope: "decidim.admin"), Decidim::EngineRouter.admin_proxy(current_component.participatory_space).edit_component_path(current_component.id), class: "button tiny button--simple" %>
      </div>
      <div class="button--title">
        <%= link_to t(".chapters"), chapters_path, class: "button tiny button--simple" %>
      </div>
    </h2>
  </div>

  <div class="card-section multiusers-select-container">
    <p class="text-help"><%= t(".help").html_safe %></p>
    <%= decidim_form_for(@form, url: conversations_path, html: { class: "form users" }) do |f| %>

      <%= render partial: "form", object: f %>

      <div class="button--double form-conversations-submit">
        <%= f.submit t(".save") %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "decidim/notify/select2" %>
