<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t(".title") %>
      <%= link_to t(".chapters"), chapters_path, class: "button button__sm button__secondary" %>
      <%= render partial: "decidim/admin/components/resource_action" %>
    </h1>
  </div>

  <div class="card-section multiusers-select-container">
    <p class="text-help"><%= t(".help").html_safe %></p>
    <%= decidim_form_for(@form, url: conversations_path, html: { class: "form users" }) do |f| %>

      <%= render partial: "form", object: f %>

      <div class="button button__sm button__secondary">
        <%= f.submit t(".save") %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" %>
<%= append_javascript_pack_tag "decidim_notify_selects" %>
