<div class="notify-chapter" id="notify-chapter-<%= id %>">
  <% if title %>
    <h3 class="<%= " active" if active %>"><%= title %></h3>
  <% end %>
  <div class="card">
    <div class="card-section notify-chapter-notes" id="notify-chapter-notes-<%= id %>">
      <%= cell "decidim/notify/note", collection: notes %>
    </div>
  </div>
</div>