<div class="notify-chapter" id="notify-chapter-<%= id %>">
  <% if title %>
    <h3 class="<%= " active" if active %>">
      <span class="chapter-title"><%= title %></span>
      <button type="button" data-toggle="chapter-dropdown-<%= id %>"><%= icon "pencil" %></button>

      <div class="dropdown-pane" id="chapter-dropdown-<%= id %>" data-position="bottom" data-alignment="center" data-dropdown data-auto-focus="true" data-close-on-click="true">
        <h4><%= t ".edit" %></h4>
        <%= form_for(@form, url: update_path, method: :patch, remote: true, html: { class: "form" }, id: "notify_edit_chapter_form-#{id}" ) do |form| %>
          <%= form.text_field :title, placeholder: t("placeholders.statement", scope: "decidim.notify.conversations"), label: false %>

          <div class="switch tiny toggle-chapter-active switch-with-label">
            <label for="chapter_active-<%= id %>">
              <%= form.check_box :active, label: false, class: "switch-input", id: "chapter_active-#{id}", checked: active %>
              <span class="switch-paddle"></span>
              <span class="switch-label"><%= t(".active") %></span>
            </label>
          </div>

          <%= form.submit t(".update"), class: "button small" %>
        <% end %>
        <%= button_to update_path, method: :delete, remote: true, class: "delete", data: { confirm: t("decidim.notify.chapters.destroy.sure") } do %>
          <%= icon "trash" %>
        <% end %>
      </div>
    </h3>
  <% else %>
    <h3></h3>
  <% end %>
  <div class="card">
    <div class="card-section notify-chapter-notes" id="notify-chapter-notes-<%= id %>" data-empty="<%= t ".empty" %>"><%= cell "decidim/notify/note", collection: notes %></div>
  </div>
</div>
