<div class="notify-chapter" id="notify-chapter-<%= id %>">
  <% if title %>
    <h3 class="<%= " active" if active %>">
      <span class="chapter-title"><%= title %></span>
      <% if note_taker? %>
        <button type="button" data-toggle="chapter-dropdown-<%= id %>"><%= icon "pencil-line" %></button>

        <div class="dropdown-pane" id="chapter-dropdown-<%= id %>" data-position="bottom" data-alignment="center" data-dropdown data-auto-focus="true" data-close-on-click="true">
          <h4><%= t("edit", scope: "decidim.notify.chapter") %></h4>
          <%= form_for(@form, url: update_path, method: :patch, remote: true, html: { class: "form" }, id: "notify_edit_chapter_form-#{id}" ) do |form| %>
            <%= form.text_field :title, placeholder: t("placeholders.statement", scope: "decidim.notify.conversations"), label: false %>

            <div class="switch tiny toggle-chapter-active switch-with-label">
              <label for="chapter_active-<%= id %>">
                <%= form.check_box :active, label: false, class: "switch-input", id: "chapter_active-#{id}", checked: active %>
                <span class="switch-paddle"></span>
                <span class="switch-label"><%= t("active", scope: "decidim.notify.chapter") %></span>
              </label>
            </div>

            <%= form.submit t("update", scope: "decidim.notify.chapter"), class: "button small" %>
          <% end %>
          <%= button_to update_path, method: :delete, remote: true, class: "delete", title: t("delete", scope: "decidim.notify.chapter"), data: { confirm: t("destroy.sure", scope: "decidim.notify.chapter") } do %>
            <%= icon "trash" %>
          <% end %>
        </div>
      <% end %>
    </h3>
  <% else %>
    <h3></h3>
  <% end %>
  <div class="card">
    <div class="card-section notify-chapter-notes" id="notify-chapter-notes-<%= id %>" data-empty="<%= t("empty", scope: "decidim.notify.chapter") %>"><%= cell "decidim/notify/note", collection: notes %></div>
  </div>
</div>
